@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --principal-color: #bb4040; 
    --text-color-h1: #2e2e2e;
    --text-color-h3: #535353;
    --second-background: #141414;
    --third-background: #491717;
}

body {
    min-height: 100vh;
    background: #adadad;
}

main {
    margin-top: 80px;
}

#forms {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#last {
    background: var(--second-background);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#videos {
    background: var(--third-background);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#slider {
    background: var(--second-background);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

#winners {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding: 20px;
}
